// -------------------------------------
// Susy Import
// -------------------------------------
//@import "susy";
// -------------------------------------
// Core Mixins
// -------------------------------------
@import "../core/core/mixins";
// -------------------------------------
// Variables Import
// -------------------------------------
// 載入全域變數
@import "../core/core/variables";
// -------------------------------------
// Components / Modules Setting
// -------------------------------------
// 請輸入您的ClassName
$classname: 'frzTable';
// -------------------------------------
// 您的CSS Code
// -------------------------------------
//以下範例可以刪除，改為您自已的CSS Code
.#{$classname} {
	*{
		margin: 0;
		padding:0; 
	}
	td{
		overflow: hidden;
	}
	.grayBox{
		width: 100%;
		height: 70px;
		background: gray;
		border: 1px solid white;
	}
	.overH{
		overflow: hidden;
		// position: relative;
	}
	.content_box{
		display: block;
		height: 70px;
		background: #ddd;
		overflow: hidden;
		// transform:translateX(-90px);
		// border: 1px solid white;
	}
	.col-xs-21{
		width: 800px
	}
	.height100{
		height: 100%;
	}
	.content_box2{
		// width: 120px;
		text-align: center;
		line-height: 70px;
		// font-family: 'Verdana';
		font-size: 14px;
		font-weight: bold;
		color: #444444;
		height: 70px;
		cursor: pointer;
		background: white;
		border: .5px solid #e2e2e2;
		// &:hover{
		// 	background: #fff9e3;
		// }
		span{
			font-size: 12px;
			color: #999999;
			font-weight: normal;
		}
		p{
			color: #999999;
			font-weight: normal;
			// font-family:"微軟正黑體";
		}
	}
	.slide_right{
		position: absolute;
		right: 0;
		top:50%;
		margin-top: -30px;
		color: white;
		cursor: pointer;
		z-index: 99;
		padding: 20px 10px;
		background: rgba(0,0,0,.3);	
	}
	.slide_left{
		position: absolute;
		left: 0;
		top: 50%;
		color: white;
		margin-top: -30px;
		cursor: pointer;
		z-index: 99;
		padding: 20px 10px;
		background: rgba(0,0,0,.3);	
	}
	.bigbig{
		width: 400px;
		height: 50px;
		background: red;
	}
	.select{
		background: #fff9e3;
		border: 2px solid #fe8e8b;
	}
	.hight_light{
		background: #f7f7f7;
	}
	// .bigbox{
	// 	height: 50px;
	// 	transform:translateX(-90px);
	// 	width: 630px;//實際上就是小格的寬乘7
	// }

	// style on phone device
	@media screen and (min-width: $screen-tablet) {
		// style on tablet device
	}
	@media screen and (min-width: $screen-desktop) {
		// style on desktop device
	}
	@media screen and (min-width: $screen-lg-desktop) {
		// style on desktop device
	}
	&.#{$classname}_modifier {
		
	}
	& > .#{$classname}_child {
		
	}
	& .#{$classname}_descendant {

	}
}